[submodule "Aurora/vendor/spdlog"]
	path = Aurora/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Aurora/vendor/GLFW"]
	path = Aurora/vendor/GLFW
	url = https://github.com/glfw/glfw
[submodule "Aurora/vendor/glfw"]
	path = Aurora/vendor/glfw
	url = https://github.com/glfw/glfw.git
